.user-details{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.user-details strong {
    font-weight: bold;
    margin-right: 5px;
    color: black;
}


.user-card {
    width: 500px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #424769;
    display: flex;
}

.user-left {
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.user-left h2 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.user-img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img img {
    height: 10vw;
    border-radius: 50%;
}
