#reposList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .repo-card {
    width: 550px;
    margin: 10px;
    padding: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #424769;
  }
  
  .repo-card h3 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #dcdcdc;
    text-decoration: underline;
  }
  
  .repo-card p {
    margin: 10px 0;
    font-size: 14px;
  }
  
  .repo-card strong {
    font-weight: bold;
    margin-right: 5px;
    color: #000000;
  }
  .topics{
    font-size: 80%;
    padding: 2px 5px;
    border-radius: 5px;
    color: black;
    margin-right: 5px;
    background-color: #F6B17A;
  }